<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuk.miuihome">
    <application
        android:icon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:extractNativeLibs="false"
        android:theme="@style/Theme.MiuiHome"
        android:label="@string/app_name"
        android:allowBackup="false">

        <activity
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".MainActivityAlias"
            android:enabled="true"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <meta-data
            android:name="xposedmodule"
            android:value="true" />

        <meta-data
            android:name="xposeddescription"
            android:value="自定义修改MIUI桌面" />

        <meta-data
            android:name="xposedminversion"
            android:value="82" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/scope" />

        <meta-data
            android:name="xposedsharedprefs"
            android:value="true" />

    </application>
</manifest>